* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	color: #eee;
}

h2 {
	text-transform: uppercase;
}

#gallery {
	margin: 0 auto;
	text-align: center;
}

figure {
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
}

figure figcaption {
	text-align: center;
}

figure img{
	width: 100%;
	border: 2px solid #444;
}

.gallery {
	display: flex;
	width: 90%;
	flex-flow: row wrap;
}

@media (min-width: 993px) {
	.figure {
		width: 33%;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.figure {
		width: 50%;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.figure {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.gallery {
		width: 100%;
	}
	.figure {
		width: 100%;
	}
}