body {
    text-align: center;
    font-family: 'Open Sans';
}

header {
    background-image: url(../img/header.jpg);
}

h1 {
    color: #007bff;
    font-size: 4.2em;
}

nav {
    background-color: #007bff;
}

h2, .greyText {
    color: #333;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    font-size: 1.9em;
}

.inline {
    display: inline;
}

.noBullets {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.gallery, .form{
    display: flex;
    flex-flow: row wrap;
}

.image {
    width: 25px;
    height: auto;
}

#underMainHeader {
    font-size: 1.3em;
}

#portfolio {
    background-color:  #f2f1ed;
}

@media (min-width: 1201px) {
    header, nav, section, footer {
        width: 1170px
    }
    .item {
        width: 25%;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    header, nav, section, footer {
        width: 992px
    }
    .item {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header, nav, section, footer {
        width: 768px
    }
    .gallery {
        flex-direction: column;
    }
    .item {
        width: 100%;
    }
}

@media (max-width: 767px) {
    header, nav, section, footer {
        width: 95%
    }
    .gallery {
        flex-direction: column;
    }
    .item {
        width: 100%;
    }
}

.form {
    gap: 2px;
    justify-content: center;
}

.about {
    color: #777;
}