body {
    text-align: center;
    font-family: 'Open Sans';
}

header {
    background-image: url(../img/header.jpg);
}

h1 {
    color: #007bff;
}

nav {
    background-color: #007bff;
}

h2, button, .headerText {
    color: #333;
}

.inline {
    display: inline;
}

.noBullets {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.gallery {
    display: flex;
}

#portfolio {
    background-color:  #f2f1ed;
}