body {
    text-align: center;
    font-family: 'Open Sans';
}

header {
    background-image: url(../img/header.jpg);
    padding-bottom: 1em;
}

h1 {
    color: #007bff;
    font-size: 4.2em;
}

nav {
    background-color: #007bff;
}

h2, .greyText {
    color: #333;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    font-size: 1.9em;
}

.inline {
    display: inline;
}

.noBullets {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    align-self: center;
}

.image {
    width: 25px;
    height: auto;
}

.form {
    display: flex;
    width: 700px;
}

#underMainHeader {
    font-size: 1.3em;
}

#menu {
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#portfolio {
    background-color:  #f2f1ed;
}

#portfolioButton {
    width: fit-content;
    align-self: center;
}

@media (min-width: 1201px) {
    header, nav, section, footer {
        width: 1170px
    }
    .item {
        width: 25%;
    }
    .form {
        flex-flow: row wrap;
        align-self: center;
        justify-content: space-around;
        align-items: center;
    }
    #name, #email {
        flex-basis: 47.5%;
        height: 2em;
    }
    #message {
        flex-basis: 97.5%;
        height: 6em;
    }
    #submit {
        flex-basis: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    header, nav, section, footer {
        width: 992px
    }
    .item {
        width: 50%;
    }
    .form {
        flex-flow: row wrap;
        align-self: center;
        justify-content: space-around;
        align-items: center;
    }
    #name, #email {
        flex-basis: 47.5%;
        height: 2em;
    }
    #message {
        flex-basis: 97.5%;
        height: 6em;
    }
    #submit {
        flex-basis: 25%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header, nav, section, footer {
        width: 768px
    }
    .gallery {
        flex-direction: column;
        width: 100%;
    }
    .item {
        width: 100%;
    }
    .form {
        flex-flow: row wrap;
        align-self: center;
        justify-content: space-around;
        align-items: center;
    }
    #name, #email {
        flex-basis: 47.5%;
        height: 2em;
    }
    #message {
        flex-basis: 97.5%;
        height: 6em;
    }
    #submit {
        flex-basis: 25%;
    }
}

@media (max-width: 767px) {
    header, nav, section, footer {
        width: 95%
    }
    .gallery {
        flex-direction: column;
        width: 100%;
    }
    .item {
        width: 100%;
    }
    .form {
        flex-flow: column;
        align-self: center;
        align-items: center;
    }
    #name, #email {
        height: 2em;
    }
    #message {
        height: 6em;
    }
}

.about {
    align-self: center;
    max-width: 700px;
    color: #777;
}
